<code_scheme name="Default" version="173">
    <option name="FORMATTER_TAGS_ENABLED" value="true"/>
    <JavaCodeStyleSettings>
        <option name="GENERATE_FINAL_LOCALS" value="true"/>
        <option name="GENERATE_FINAL_PARAMETERS" value="true"/>
        <option name="CLASS_COUNT_TO_USE_IMPORT_ON_DEMAND" value="10000"/>
        <option name="NAMES_COUNT_TO_USE_IMPORT_ON_DEMAND" value="10000"/>
        <option name="PACKAGES_TO_USE_IMPORT_ON_DEMAND">
            <value/>
        </option>
    </JavaCodeStyleSettings>
</code_scheme>